:root {
  --primary-color: #FCB9B1;
  --secondary-color: #5DB4EA;
  --tertiary-color: #833ABB;

  --light: #FCFCFC;
  --dark: #242424;

  --tertiary-color-dark: #29123B;
  --tertiary-color-surface: #b181d6;

  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light;
  --surface-color: var(--light);
  --contrast-color: var(--dark);

  color: var(--contrast-color);
  background-color: var(--surface-color);
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --surface-color: var(--dark);
    --contrast-color: var(--light);
  }
}