.agbalumo {
  font-family: "Agbalumo", serif;
  font-weight: 400;
  font-style: normal;
}
.text-gradient {
  background: linear-gradient(107deg, var(--primary-color) 45%, var(--secondary-color) 45%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a {
  font-weight: 500;
  color: var(--tertiary-color);
  text-decoration: inherit;
  transition: all 0.25s;
}
a:hover {
  color: var(--tertiary-color--dark);
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}